In [29]:
artist = ["ArianaGrande", "Beyonce", "EdSheeran", "CardiB", "ColdPlay", "DuaLipa", "JustinBieber", 
        "KatyPerry", "Khalid", "TaylorSwift", "BillieEilish", "NickiMinaj", "SelenaGomez"]

import pandas as pd

for i in range(len(artist)):
    df = pd.read_csv("../data/" + artist[i] + ".csv")
    if "Unnamed: 0" in df.columns:
        df = df.drop(columns=["Unnamed: 0"])
    df.drop(["Artist", "Album", "Year", "Date"], axis=1, inplace=True)
    ## merging all the dataframes
    if i == 0:
        df_final = df
    else:
        df_final = pd.concat([df_final, df])
    print(df.columns)

Index(['Title', 'Lyric'], dtype='object')
Index(['Title', 'Lyric'], dtype='object')
Index(['Title', 'Lyric'], dtype='object')
Index(['Title', 'Lyric'], dtype='object')
Index(['Title', 'Lyric'], dtype='object')
Index(['Title', 'Lyric'], dtype='object')
Index(['Title', 'Lyric'], dtype='object')
Index(['Title', 'Lyric'], dtype='object')
Index(['Title', 'Lyric'], dtype='object')
Index(['Title', 'Lyric'], dtype='object')
Index(['Title', 'Lyric'], dtype='object')
Index(['Title', 'Lyric'], dtype='object')
Index(['Title', 'Lyric'], dtype='object')

In [30]:
df_final.shape

(3535, 2)

In [31]:
df = df_final.copy()

In [32]:
df.head()

                    Title                                              Lyric
0          ​thank u, next  thought i'd end up with sean but he wasn't a m...
1                 7 rings  yeah breakfast at tiffany's and bottles of bub...
2         ​God is a woman  you you love it how i move you you love it how...
3            Side To Side  ariana grande  nicki minaj i've been here all ...
4  ​​no tears left to cry  right now i'm in a state of mind i wanna be in...

In [33]:
## removing the rows with null values
df.dropna(inplace=True)

In [34]:
df.shape

(3514, 2)

In [35]:
## printing the lyrics for the first 5 rows
df.Lyric[0]

0    thought i'd end up with sean but he wasn't a m...
0    beyoncé i've been drinkin' i've been drinkin' ...
0    the club isn't the best place to find a lover ...
0    cardi b al t mclaran  megan thee stallion whor...
0    come up to meet you tell you i'm sorry you don...
0    one one one one one   talkin' in my sleep at n...
0    produced by benny blanco   for all the times t...
0    refrain they know what is what but they don't ...
0    so you're still thinking of me just like i kno...
0    vintage tee brand new phone high heels on cobb...
0    don't you know i'm no good for you i've learne...
0    nicki minaj yo i never fucked wayne i never fu...
0    you promised the world and i fell for it i put...
Name: Lyric, dtype: object

In [36]:
## saving the dataframe
df.to_csv("../data/lyrics.csv", index=False)