In [1]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize

In [22]:
df = pd.read_csv('../data/lyrics.csv')

In [23]:
df.head()

                    Title                                              Lyric
0          ​thank u, next  thought i'd end up with sean but he wasn't a m...
1                 7 rings  yeah breakfast at tiffany's and bottles of bub...
2         ​God is a woman  you you love it how i move you you love it how...
3            Side To Side  ariana grande  nicki minaj i've been here all ...
4  ​​no tears left to cry  right now i'm in a state of mind i wanna be in...

In [24]:
import spacy
nlp = spacy.load('en_core_web_lg')

In [25]:
def remove_stopwords(text):
    filtered_text = []
    for word in text.split():
        lexeme = nlp.vocab[word]
        if lexeme.is_stop == False:
            filtered_text.append(word)
    return " ".join(filtered_text)

df['Lyric'] = df['Lyric'].apply(remove_stopwords)

In [26]:
## using tensorflow
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

tokenizer = Tokenizer(num_words=10000, oov_token="<OOV>")
tokenizer.fit_on_texts(df['Lyric'])
word_index = tokenizer.word_index
sequences = tokenizer.texts_to_sequences(df['Lyric'])
padded = pad_sequences(sequences, padding='post')

In [27]:
print(sequences[0])
print(padded[0])

[109, 77, 162, 639, 480, 1536, 936, 531, 4659, 301, 560, 9, 1671, 7457, 2, 987, 120, 281, 3842, 19, 501, 26, 872, 5, 872, 1279, 872, 320, 2, 858, 38, 345, 38, 146, 29, 36, 9, 36, 872, 281, 281, 281, 2, 608, 774, 1028, 281, 281, 281, 2, 608, 502, 18, 176, 24, 822, 88, 465, 832, 394, 2145, 51, 8683, 6, 495, 124, 19, 6677, 2, 34, 34, 26, 872, 5, 5, 872, 1279, 1279, 7458, 320, 320, 2637, 858, 8, 140, 858, 38, 345, 38, 146, 8, 8, 29, 8, 8, 19, 36, 38, 234, 8, 8, 24, 17, 1372, 281, 281, 281, 281, 281, 281, 2, 608, 774, 1028, 281, 281, 281, 41, 281, 281, 2, 608, 774, 1028, 148, 281, 281, 281, 2, 608, 56, 21, 143, 4343, 552, 106, 228, 21, 7459, 1072, 19, 1769, 1373, 15, 104, 57, 124, 90, 181, 5955, 1374, 66, 1297, 66, 1297, 26, 38, 9, 5, 5, 9, 1279, 1279, 38, 689, 320, 320, 649, 858, 649, 858, 38, 345, 38, 146, 8, 8, 29, 8, 8, 19, 36, 38, 234, 8, 8, 24, 17, 1372, 281, 281, 281, 281, 281, 2, 608, 774, 1028, 281, 281, 281, 41, 281, 281, 2, 608, 774, 1028, 148, 281, 281, 281, 8, 1991, 281, 281, 281, 8, 1991]
[109  77 162 ...   0   0   0]

In [28]:
print(padded.shape)

(3514, 2862)

In [33]:
## create a dataframe with the padded sequences
df_padded = pd.DataFrame(padded)
df_padded.head()

,0,1,2,3,4,5,6,7,8,9,...,2852,2853,2854,2855,2856,2857,2858,2859,2860,2861
0,109,77,162,639,480,1536,936,531,4659,301,...,0,0,0,0,0,0,0,0,0,0
1,8,3053,5446,1298,3179,75,2146,3,164,462,...,0,0,0,0,0,0,0,0,0,0
2,5,5,93,41,68,98,181,224,27,1537,...,0,0,0,0,0,0,0,0,0,0
3,149,157,80,122,38,35,149,38,56,80,...,0,0,0,0,0,0,0,0,0,0
4,25,2,1091,53,15,3,18,24,9,335,...,0,0,0,0,0,0,0,0,0,0